.expert-tags {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 4px;
	margin: 4px 0;
	& > span {
		padding: 0 3px;
		line-height: 17px;
		border-radius: 3px;
		background-color: #eef1f8;
		color: #61666c;
		font-size: 12px;
	}
	&.align-center {
		justify-content: center;
	}
}
.expert-options {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 4px;
	margin: 4px 0 8px;
	& > span {
		display: flex;
		align-items: center;
		gap: 2px;
		font-size: 12px;
		color: #444444;
		&.text--red {
			color: #ff7a85;
		}
	}
	&.align-center {
		justify-content: center;
	}
}